body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: auto;
}

.content, .detail, .visited, .film_div, .error_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.content, .detail {
	height: 75vh;
	margin-top: 5%;
}

.visited {
	margin-top: 2%;
	width: 75%;
	border-width: 1px;
	border-style: solid;
	border-color: red;
}

@media (max-width: 959px){
	.content, .detail {
		width: 100%;
	}
}

@media (min-width: 960px){
	.content, .detail {
		width: 50%;
	}
}

form {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
	font-family: 'SFDistantGalaxy';
	color: white;
}

.search_box, .btn_index, .btn, .visited {
	border-radius: 5px;
}

.film_div, .btn {
		margin-top: 8%;
	}

.btn {
	border-color: yellow;
}

.search_img {
	width: 65%;
}

.carousel {
	width: 100%;
}

.movie_pic {
	width: 35%;
	height: 35%;
}

.btn_index {
	border-color: yellow;
	margin-top: 5%;
}

#list_chars {
	margin-top: 5%;
	text-decoration: underline;
	text-decoration-color: yellow;
}

#previously {
	text-decoration: underline;
	text-decoration-color: red;
}

@font-face {
	font-family: "SFDistantGalaxy";
	src: url("/static/fonts/SFDistantGalaxy.eot");
	src: url("/static/fonts/SFDistantGalaxy.woff") format("woff"),
		url("/static/fonts/SFDistantGalaxy.otf") format("opentype"),
		url("/static/fonts/SFDistantGalaxy.svg#filename") format("svg");
}