<!DOCTYPE html>
<html lang="en">
	<head>
	{% load bootstrap4 %}
	{% load static %}
	{% block content %}
	<title>Darth Searcher</title>
	<link rel="icon" href="{% static 'favicon.ico' %}" sizes="64x64" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'error.css' %}" />
	</head>

	<body>
		<div class="error_div">
			<picture>
				<source media="(max-width: 959px)" srcset="{% static 'error_msg.png' %}">
				<source media="(min-width: 960px)" srcset="{% static 'error_msg_large.png' %}">
				<img class="error_msg" src="{% static 'error_msg_large.png' %}">
			</picture>
			<img class="error_img" src="{% static 'error.png' %}"/>
			<a href="{% url 'Index' %}"><img class="btn" src="{% static 'index.png' %}"/></a>
		</div>
		{%csrf_token%}
		{% endblock %}
	</body>
</html>