<!DOCTYPE html>
<html lang="en">
	<head>
	{% load bootstrap4 %}
	{% load static %}
	{% block content %}
	<title>Darth Searcher</title>
	<link rel="icon" href="{% static 'favicon.ico' %}" sizes="64x64" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'film.css' %}" />
	</head>

	<body>
		<div class="film_div">
			<img class="detail_img" src="/static/{{f.episode_id}}.jpeg"/>
			<div class="film_desc">
				<h1>{{ f.title }}</h1>
				<h2>Director: {{ f.director }}</h2>
				<h3>Producer/s: {{ f.producer }}</h3>
				<h3>Release Date: {{ f.release_date }}</h3>
			</div>
			<input class="btn" type="image" src="{% static 'previous.png' %}" onClick="history.back()">
		</div>
		{%csrf_token%}
		{% endblock %}
	</body>
</html>